.DS_Store
**/.DS_Store

ignore/

bash/secrets
bash/config.tmp

**/emacs.d/backup
**/emacs.d/elpa
**/emacs.d/savefile
**/emacs.d/auto-save-lists

**/vim/bundle
**/bundle
**/.netrwhist

ec2-key-path
ec2user
git-key-path

# Vim persistent undo files
*.un~
*.swp

# Vim undodir
**/vim/undodir

.netrwhist

# Ignore Vim bundles
**/vim/bundle/

# Keep these folders...
!**/vim/backups/.gitkeep
!**/vim/undodir/.gitkeep
# ...but not their contents
**/vim/backups/*
**/vim/undodir/*
# Ignore the binary version because it will be automatically updated and
# reloaded when words are added with `zg`
**/vim/vim-spell-en.utf-8.add.spl
