[submodule "tag-tmux/tmux/plugins/tpm"]
	path = tag-tmux/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tag-emacs/emacs.d"]
	path = tag-emacs/emacs.d
	url = git://github.com/matchbookmac/prelude.git
