"*":
  "exception-reporting":
    userId: "c008d053-6a7e-6f74-b924-8421ff1db0cf"
  welcome:
    showOnStartup: false
  "tree-view":
    hideVcsIgnoredFiles: false
  core:
    themes: [
      "nucleus-dark-ui"
      "adventurous-syntax"
    ]
    audioBeep: false
    projectHome: "/Users/imacdonald/code"
    openEmptyEditorOnStart: false
    disabledPackages: [
      "linter-rubocop"
    ]
  editor:
    invisibles: {}
    softWrap: true
    showIndentGuide: true
    showInvisibles: true
    preferredLineLength: 120
    fontSize: 13
  minimap:
    absoluteMode: true
    minimapScrollIndicator: false
    plugins:
      "minimap-autohide": true
  "isotope-ui": {}
  linter:
    lintOnFly: false
  "linter-rubocop": {}
".erb.html.text":
  editor:
    showIndentGuide: true
